body {
    margin: 0;
    font-family: "Karla", sans-serif;
    background: #1C1C1C;
    color: white;

}

#container {
    width: 550px;
    max-width: 550px;
    height: 550px;
    max-height: 550px;
    background: #1F2937;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 40px ;

}

#separator-line {
    border-bottom: 2px solid #2F3E53;
    width: 100%;
    margin: 30px 0 20px 0;
}

h1 {
font-weight: 800;
font-style: ExtraBold;
font-size: 40px;
line-height: 40px;
letter-spacing: -2.5%;
margin: 0;

}

.purple {
    color: #7C3AED;

}

.light {
    font-weight: lighter;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
    background: #7C3AED;
    color: white;
    border: none;
    box-shadow: 0px 1px 2px 0px #0000000D;
    text-align: center;

}

.btn:hover {
    cursor: pointer;
    
}
#input-one {
    width: 140px;
    color: #C4B5FD;
     background: #273549;
     border: none;
    text-align: center;
}
.btn-container {
  display: flex;
   gap: 30px;
   
   
}

#psw-section {
    display: flex;
   gap: 40px;
   margin: 0 auto;
   
    
}

.psw-container {
    
    padding: 8px 50px;
    border-radius: 4px;
    background: #273549;
    color: #C4B5FD;

}
